# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store

# SQLite (ignore only if it's generated locally)
*.db